
html,
body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 24px 20px;
  box-sizing: border-box;
}

.footer {
  flex-shrink: 0;
}
